#message-styled {
    box-shadow: none;
    background: #1b1c1d;
    color: white;
}
#message-header {
    box-shadow: none;
    color: white;
    text-align: center;
    font-weight: bolder;
}

#message-content {
    color: antiquewhite;
}
