h1{
    position: relative;
    left: 10px;
    top: 0px;
}

p {
    text-align: center;
}

.infotext{
    bottom: 200px;
    color: lightgrey;
    width: 300px;
    height: 100px;
    border: 1px solid lightgrey;
    position: absolute;
    left: 50%;
    margin: -150px;
}

.ui.compact.menu{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

#sidebarneedsstyle {
    position: relative;
    top: 10px;
    right: 10px;
    background-color: #00141b;
    overflow-y: scroll;
    height: 100%
}

#title{
    color:teal;
    font-size: 30px;
    position: absolute;
    left: 10px;
    top: 0px;
    
  }

#difficulty{
    position:absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
}

#board{
    position:absolute;
    left: 50%;
    top: 225px;
    transform: translateX(-50%);
}